# Read data from Json

In [1]:
import json
fd = open("record.json","r")
r = fd.read()
fd.close()

record = json.loads(r)

In [2]:
record

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 150},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 98},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 49},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 40},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 190},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Laptop', 'pr': 70000, 'qn': 5},
 '1011': {'name': 'coke', 'pr': 20, 'qn': 50},
 '1012': {'name': 'Biscuits', 'pr': 30, 'qn': 100},
 '1013': {'name': 'Mango', 'pr': 10, 'qn': 200},
 '1014': {'name': 'Orange', 'pr': 10, 'qn': 150},
 '1015': {'name': 'Apple', 'pr': 20, 'qn': 76},
 '1016': {'name': 'Strawbery', 'pr': 20, 'qn': 500},
 '1017': {'name': 'Banana', 'pr': 5, 'qn': 200},
 '1018': {'name': 'Chips', 'pr': 5, 'qn': 50},
 '1019': {'name': 'Water', 'pr': 20, 'qn': 200},
 '1020': {'name': 'Butter cake', 'pr': 50, 'qn': 100},
 '1021': {'name': 'panner', 'pr': 200, 'qn': 50},
 '1022': {'name': 'Rice', 'pr': 500, 'qn': 100},
 '1023': {'name': 'Camera', 'pr': 80000, 'qn': 10},
 '1024': {'name': 'pencil', 'pr': 5, 'qn': 50},
 '1025': {'name': 'Dairy Milk', 'pr': 40, 'qn': 50},
 '1026': {'name': 'Kitkat', 'pr': 25, 'qn': 50},
 '1027': {'name': 'nuts', 'pr': 250, 'qn': 50},
 '1028': {'name': 'Face Wash', 'pr': 100, 'qn': 10},
 '1029': {'name': 'watch', 'pr': 200, 'qn': 346},
 '1030': {'name': 'sun glass', 'pr': 200, 'qn': 95},
 '1031': {'name': 'Fruits', 'pr': 100, 'qn': 50}}

# Add Same product

In [5]:
product_id = input("Enter the product id : ")
product_name = input("Enter the product name : ")
product_Quantity = int(input("Enter the quantity of product : "))
product_price = int(input("Enter the price of product : "))

for i in record.keys():
    if(i == product_id):
        total_product = record[product_id]['qn'] + product_Quantity
        record[product_id] = {'name':product_name,'pr':product_price,'qn':total_product}

        
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter the product id : 1010
Enter the product name : Laptop
Enter the quantity of product : 5
Enter the price of product : 70000

# Add Different Product

In [7]:
product_id = input("Enter the product id : ")
product_name = input("Enter the product name : ")
product_Quantity = int(input("Enter the quantity of product : "))
product_price = int(input("Enter the price of product : "))

record[product_id] = {'name':product_name,'pr':product_price,'qn':product_Quantity}
        
js = json.dumps(record)
fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter the product id : 1032
Enter the product name : Butter Cake
Enter the quantity of product : 50
Enter the price of product : 50

In [8]:
record

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 150},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 98},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 49},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 40},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 190},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Laptop', 'pr': 70000, 'qn': 15},
 '1011': {'name': 'coke', 'pr': 20, 'qn': 50},
 '1012': {'name': 'Biscuits', 'pr': 30, 'qn': 100},
 '1013': {'name': 'Mango', 'pr': 10, 'qn': 200},
 '1014': {'name': 'Orange', 'pr': 10, 'qn': 150},
 '1015': {'name': 'Apple', 'pr': 20, 'qn': 76},
 '1016': {'name': 'Strawbery', 'pr': 20, 'qn': 500},
 '1017': {'name': 'Banana', 'pr': 5, 'qn': 200},
 '1018': {'name': 'Chips', 'pr': 5, 'qn': 50},
 '1019': {'name': 'Water', 'pr': 20, 'qn': 200},
 '1020': {'name': 'Butter cake', 'pr': 50, 'qn': 100},
 '1021': {'name': 'panner', 'pr': 200, 'qn': 50},
 '1022': {'name': 'Rice', 'pr': 500, 'qn': 100},
 '1023': {'name': 'Camera', 'pr': 80000, 'qn': 10},
 '1024': {'name': 'pencil', 'pr': 5, 'qn': 50},
 '1025': {'name': 'Dairy Milk', 'pr': 40, 'qn': 50},
 '1026': {'name': 'Kitkat', 'pr': 25, 'qn': 50},
 '1027': {'name': 'nuts', 'pr': 250, 'qn': 50},
 '1028': {'name': 'Face Wash', 'pr': 100, 'qn': 10},
 '1029': {'name': 'watch', 'pr': 200, 'qn': 346},
 '1030': {'name': 'sun glass', 'pr': 200, 'qn': 95},
 '1031': {'name': 'Fruits', 'pr': 100, 'qn': 50},
 '1032': {'name': 'Butter Cake', 'pr': 50, 'qn': 50}}