In [1]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [2]:
records

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 150},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 98},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 49},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 40},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 190},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'Laptop', 'pr': 70000, 'qn': 15},
 '1011': {'name': 'coke', 'pr': 20, 'qn': 50},
 '1012': {'name': 'Biscuits', 'pr': 30, 'qn': 100},
 '1013': {'name': 'Mango', 'pr': 10, 'qn': 200},
 '1014': {'name': 'Orange', 'pr': 10, 'qn': 150},
 '1015': {'name': 'Apple', 'pr': 20, 'qn': 76},
 '1016': {'name': 'Strawbery', 'pr': 20, 'qn': 500},
 '1017': {'name': 'Banana', 'pr': 5, 'qn': 200},
 '1018': {'name': 'Chips', 'pr': 5, 'qn': 50},
 '1019': {'name': 'Water', 'pr': 20, 'qn': 200},
 '1020': {'name': 'Butter cake', 'pr': 50, 'qn': 100},
 '1021': {'name': 'panner', 'pr': 200, 'qn': 50},
 '1022': {'name': 'Rice', 'pr': 500, 'qn': 100},
 '1023': {'name': 'Camera', 'pr': 80000, 'qn': 10},
 '1024': {'name': 'pencil', 'pr': 5, 'qn': 50},
 '1025': {'name': 'Dairy Milk', 'pr': 40, 'qn': 50},
 '1026': {'name': 'Kitkat', 'pr': 25, 'qn': 50},
 '1027': {'name': 'nuts', 'pr': 250, 'qn': 50},
 '1028': {'name': 'Face Wash', 'pr': 100, 'qn': 10},
 '1029': {'name': 'watch', 'pr': 200, 'qn': 346},
 '1030': {'name': 'sun glass', 'pr': 200, 'qn': 95},
 '1031': {'name': 'Fruits', 'pr': 100, 'qn': 50},
 '1032': {'name': 'Butter Cake', 'pr': 50, 'qn': 50}}

# purchasing bill

In [70]:
product_id  = str(input("Enter the product_Id: "))
product_quantity = int(input("Enter the quantity: "))

if(product_quantity > records[product_id]['qn']):
    print("This quantity is not available")
else:
    print("************Bill**************")
    print("Product: ", records[product_id]['name'])
    print("Price: ", records[product_id]['pr'])
    print("Billing Amount: ", records[product_id]['pr'] * product_quantity)
    print("******************************")

    records[product_id]['qn'] = records[product_id]['qn'] - product_quantity

Enter the product_Id: 1027
Enter the quantity: 5
************Bill**************
Product:  nuts
Price:  250
Billing Amount:  1250
******************************

# Update inventory

In [71]:
js = json.dumps(records)
fd = open("record.json",'w')
fd.write(js)
fd.close()

In [72]:
records

{'1001': {'name': 'Choco Cake', 'qn': 34, 'pr': 100},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 140},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 98},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 44},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 40},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 190},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 0},
 '1010': {'name': 'Laptop', 'pr': 70000, 'qn': 13},
 '1011': {'name': 'coke', 'pr': 20, 'qn': 50},
 '1012': {'name': 'Biscuits', 'pr': 30, 'qn': 100},
 '1013': {'name': 'Mango', 'pr': 10, 'qn': 195},
 '1014': {'name': 'Orange', 'pr': 10, 'qn': 150},
 '1015': {'name': 'Apple', 'pr': 20, 'qn': 71},
 '1016': {'name': 'Strawbery', 'pr': 20, 'qn': 500},
 '1017': {'name': 'Banana', 'pr': 5, 'qn': 200},
 '1018': {'name': 'Chips', 'pr': 5, 'qn': 47},
 '1019': {'name': 'Water', 'pr': 20, 'qn': 200},
 '1020': {'name': 'Butter cake', 'pr': 50, 'qn': 98},
 '1021': {'name': 'panner', 'pr': 200, 'qn': 50},
 '1022': {'name': 'Rice', 'pr': 500, 'qn': 95},
 '1023': {'name': 'Camera', 'pr': 80000, 'qn': 10},
 '1024': {'name': 'pencil', 'pr': 5, 'qn': 50},
 '1025': {'name': 'Dairy Milk', 'pr': 40, 'qn': 50},
 '1026': {'name': 'Kitkat', 'pr': 25, 'qn': 50},
 '1027': {'name': 'nuts', 'pr': 250, 'qn': 45},
 '1028': {'name': 'Face Wash', 'pr': 100, 'qn': 8},
 '1029': {'name': 'watch', 'pr': 200, 'qn': 346},
 '1030': {'name': 'sun glass', 'pr': 200, 'qn': 95},
 '1031': {'name': 'Fruits', 'pr': 100, 'qn': 40},
 '1032': {'name': 'Butter Cake', 'pr': 50, 'qn': 45}}

# Sales

In [27]:
sales = {1 : {'prod':'product id','qn':'product quantity','Ammount': 'Total Ammount'}}

In [73]:
sales[(len(sales)+1)] = {'prod':product_id,'qn':product_quantity,'Ammount':records[product_id]['pr']*product_quantity}
sale = json.dumps(sales)
md = open("sale.json",'w')
md.write(sale)
md.close()

In [74]:
sales

{1: {'prod': 'product id',
  'qn': 'product quantity',
  'Ammount': 'Total Ammount'},
 2: {'prod': '1028', 'qn': 2, 'Ammount': 200},
 3: {'prod': '1010', 'qn': 1, 'Ammount': 70000},
 4: {'prod': '1015', 'qn': 5, 'Ammount': 100},
 5: {'prod': '1020', 'qn': 2, 'Ammount': 100},
 6: {'prod': '1005', 'qn': 5, 'Ammount': 100},
 7: {'prod': '1018', 'qn': 3, 'Ammount': 15},
 8: {'prod': '1022', 'qn': 5, 'Ammount': 2500},
 9: {'prod': '1013', 'qn': 5, 'Ammount': 50},
 10: {'prod': '1009', 'qn': 10, 'Ammount': 19990},
 11: {'prod': '1027', 'qn': 5, 'Ammount': 1250}}

In [75]:
kd = open("sale.json",'r')

In [76]:
kd.read()

'{"1": {"prod": "product id", "qn": "product quantity", "Ammount": "Total Ammount"}, "2": {"prod": "1028", "qn": 2, "Ammount": 200}, "3": {"prod": "1010", "qn": 1, "Ammount": 70000}, "4": {"prod": "1015", "qn": 5, "Ammount": 100}, "5": {"prod": "1020", "qn": 2, "Ammount": 100}, "6": {"prod": "1005", "qn": 5, "Ammount": 100}, "7": {"prod": "1018", "qn": 3, "Ammount": 15}, "8": {"prod": "1022", "qn": 5, "Ammount": 2500}, "9": {"prod": "1013", "qn": 5, "Ammount": 50}, "10": {"prod": "1009", "qn": 10, "Ammount": 19990}, "11": {"prod": "1027", "qn": 5, "Ammount": 1250}}'